.dr-btn-container {
    border-radius: .6rem;
    border: 1px dashed #c7c7c7;
    border-width: 2px;
    height: 266px;
    width: 300px;
}

.dr-btn-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333333a3;
}

.dr-btn-add {
    display: flex;
    justify-content: center;
    transition: background-color .2s ease-in-out;
    height: 100%;
}

.btn-add:hover {
    background-color: rgba(255, 0, 0, 0.123) !important;
}

.card-container {
    border-radius: .6rem;
    border: 1px solid #c7c7c7;
    height: 266px;
    width: 300px;
    border-width: 2px;
}

.direccion-section {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .card-container {
        display: block;
    }

    .direccion-section {
        justify-content: center;
        max-width: 100%;
    }
}



.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333333a3;
    padding: .6rem;
}

.card-state {
    color: #333333a3;
    border-bottom: 1px solid #c7c7c7;
    width: 100%;
    padding: .5rem 0rem 0rem 1rem;
    margin-bottom: 0 !important;
}


.card-state p {
    margin-bottom: .4rem !important;
}