@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.banner {
    padding: 0;
    position: relative;
    background-image: url(../../img/banner.jpg);
    background-size: cover;
    width: 100vw;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 5rem;
    color: white;
    z-index: 50;
    height: 100vh !important;
    animation: fadeAnimation 1.7s ease-in-out;
    overflow-x: hidden;
  }

  @media (max-width: 768px) {
    .banner{
        
        align-items: left;
        background-position: right !important;
    }
  }

  
  .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
  }

  .banner-tittle{
    font-family: 'Lilita One', sans-serif !important;
    margin-top: 4.5rem !important;
    font-weight: bold !important;
    width: 45rem;
    padding: 1rem;
    font-size: 4rem !important;
    z-index: 110;
  }
.banner-sub-tittle{
    font-family: sans-serif !important;
    text-align: left !important;
    font-size: 1.5rem !important;
    color: white;
    width: fit-content !important;
    z-index: 100;
}

.banner-sub-tittle-2{
    font-family: 'Lilita One', sans-serif !important;
    font-size: 1.5rem;
    color: #d2342c;
    filter: brightness(1.3);
    width: fit-content !important;
}

.btn-banner{
    text-transform: uppercase;
    margin-top: 1.5rem !important;
    font-weight: bold !important;
    border: none !important;
    background-color: #d2342c !important;
    margin-right: .5rem !important;
}

.btn-banner-negro{
    text-transform: uppercase;
    margin-top: 1.5rem !important;
    font-weight: bold !important;
    border: none !important;
    background-color: black !important;
}


@media (max-width: 1024px){
    .banner-tittle{
        font-size: 4rem !important;
    }
    .banner-sub-tittle{
        font-size: 1rem !important;
    }
}

@media (max-width: 768px){
    .banner{
    padding: 1rem;
    }
    .banner-tittle{
        text-align: left;
        font-size: 3rem !important;
        width: auto;
    }
    .banner-sub-tittle{
        padding-left: 1rem !important;
        width: auto;
    }
    .banner-sub-tittle-2{
        padding-left: 1rem !important;
        width: auto;
    }
}

@keyframes fadeAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }