@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');


*{
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: 'Lilita One', sans-serif !important;

}
body {
  background-color: #d6d4d4 !important;
  background-image: url(./img/bodyCeramicas.webp);

  
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.swiper-button-next, .swiper-button-prev {
  display: none !important;
}
.swiper-wrapper{
  height: 30rem !important;
}
.swiper-pagination-bullet-active{
  background: red !important;
}