/* DIV COMPLETO DE EL ALERT */
.MuiDialog-paperScrollPaper{
    overflow: hidden !important;

    padding: .5rem;
    border-radius: 1rem !important;
}

.alert-tittle-cart{
    color: red;
    text-align: center;
}
.btn-cart-clear-remove{
    margin-right: 5rem !important;
   
   
}

/* FLEX DE LOS BOTONES */
.MuiDialogActions-root{
    position: relative !important;
    left: 2.2rem !important;
    gap: .5rem !important;
}

.btn-register-confirm {
    /* Estilos por defecto */
    background-color: #348759 !important;
  }

.btn-register-confirm[disabled] {
    /* Estilos para el estado desactivado */
    background-color: grey !important;
  }

  .carrito-vacio-img{
    overflow: hidden;
    width: 15rem;
  }

.img-cart-drawer-product{
    border-radius: .5rem;
    width: 5.5rem;
    height: 4rem;
    margin-right: 1rem;
}
.text-cart-drawer-product{
    margin-right: 1.6rem;
    font-size: .4rem;
}

.tittle-drawer-cart{
    margin: 0;
    line-height: 1.66;
    font-size: 1.2rem;
}

.MuiListItem-dense{
    padding-left: 0 !important;
}



.empty-cart-drawer{
    position: absolute;
    right: 0;
    border: none ;
    background-color: transparent ;
    color: #A0A0A0;
    border-bottom: 1px solid #A0A0A0;
    padding: 0;
    line-height: .8;
}

.css-et1ao3-MuiTypography-root{
    margin-right: .4rem !important;
}