/* DIV COMPLETO DE EL ALERT */
.MuiDialog-paperScrollPaper{
    overflow: hidden !important;

    padding: .5rem;
    border-radius: 1rem !important;
}

.alert-tittle-cart{
    color: red;
    text-align: center;
}
.btn-cart-clear-remove{
    margin-right: 5rem !important;
   
   
}

/* FLEX DE LOS BOTONES */
.MuiDialogActions-root{
    position: relative !important;
    left: 2.2rem !important;
    gap: .5rem !important;
}

.btn-register-confirm {
    /* Estilos por defecto */
    background-color: #348759 !important;
  }

.btn-register-confirm[disabled] {
    /* Estilos para el estado desactivado */
    background-color: grey !important;
  }

  .carrito-vacio-img{
    overflow: hidden;
    width: 15rem;
  }

