@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
.card-content-container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
}
.products-carousel-title{
    font-family: "Croissant One", cursive !important;
    color: #d2342c;
}
.nombreProducto{
    padding-top: 10px;
    font-size: 10px;
    font-weight: bold;
}
.descripcionProducto{
    font-size: 15px;
}
.precioProducto{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
/* .cards-btn-container{
    display: flex;
    justify-content: center;
} */
/*carrusel*/


.slick-slide{
    width: 240px !important;
    margin-right: 2rem;
    margin-left: 3rem;
   
}
.slick-list{
    height: 450px !important;
}
.slick-track{
    margin-top: 2rem;
}
.slick-dots {
    position: absolute;
    height: auto;
    width: auto;
    bottom: 428px !important;


}
.slick-dots li button:before{
    color: #d2342c !important;
}

/*categoria centrar*/

.products-carousel-title{
    text-align: center;
    margin: 0;
}

.MuiBox-root{
    margin-bottom: .5rem;
 
}

.products-container{
    overflow-x: hidden;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.6rem;    
}



.btn-card-cart{
    font-family: 'Lilita One', sans-serif !important;
}
@media (max-width:768px){
    .btn-card-cart{
        font-size: .8rem !important;
        width: auto !important;
    }
}
.cards-btn-container{
    justify-content:center !important;
}

/*MODAL*/
@media (max-width:768px){
    .btn-fav-modal{
        font-size: .8rem !important;
        width: auto !important;
    }
}


.modal-container{
    animation: fadeAnimation .7s ease-in-out;
    display: flex;
    gap: 2rem;
    padding: 0rem 4.5rem 0rem 2rem;
}
@media (max-width:1124px){
    .modal-container{
        flex-wrap: wrap;
        text-align: center;
        padding: 0rem 1.5rem;
        justify-content: center;
    }
}
.modal-content{
    display: flex;
    flex-direction: column;
}

@media (max-width:768px){
    .modal-content{
        font-size: .9rem;
    }
}
.modal-header{
    display: flex;
    align-items: start;
    flex-direction: column;
}
@media (max-width:1124px){
    .modal-header{
        align-items: center;
    }
}

.modal-header h4{
    font-family: "Croissant One", cursive !important;
    font-weight: 600 !important;
    font-size: 2rem;
 color: #d2342c;
}

@media (max-width:768px){
    .modal-header h4{
        font-size: 1.4rem;
    }
}

.modal-header p{
    padding: .5rem 0rem;
    opacity: .7;
    color: white;

}

.modal-price p {
    font-size: 30px;
    color: #d2342c;
}

.modal-icons{
    display: flex;
    align-items: center;
    width: auto;
}
.modal1{
    z-index: 99999999999 !important;
}

@media (max-width:768px){
    .modal-icons button{
        font-size: .2rem;
    }
}

.img-modal{
    width: 20rem !important;
}

@media (max-width:768px) {
    .img-modal{
        width: 12rem !important;
    }
}

@media (max-width:1124px){
    .modal-icons{
        justify-content: center;
    }
}



@media (max-width: 768px) {
    .modal{
        width: 20rem;
    }
    
}

@keyframes fadeAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }