.navbar-toggler{
    margin-right: 20px;
    /* margin-top: 10px; */
    border: none;
    font-size: 23px;
    color: transparent;
}
.nav-icons-div{
    display: flex;
 
    justify-content: end;
}
.navbar-icons{
    color: white !important; 
}
.navContainer{
    margin-bottom: 2rem;
}
.nav-logo{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: .6rem;
}

.nav-drawer{
    color: white !important;
}
.nav--logo-drawer{
    margin: 0 auto;
    margin-top: 1rem;
    width: 120px;
    height: 120px;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
    background-color: #348759 !important;
    color: white !important;
}
.css-x4teuh-MuiToolbar-root{
   padding-right: 14px;
}
.css-11b3ww9-MuiPaper-root-MuiAppBar-root{
    width: 100vw !important;
}